<% include ../layout/header %>
<% include ../layout/top-menu %>
<% include ../layout/side-menu %>
<section class="main">
    <h4>Update subjects</h4>
    <a href="/asdf">E Subject</a>
            <form action="/updateSubject/<%=subjectsData.id%>" method="POST" class="form-row">
                <div class="form-group col-md-6">
                    <label for="sname">Name of subject </label>
                    <input type="text" name="sname" value="<%=subjectsData.subjectName%>" class="form-control">
                </div>
    
                <div class="form-group col-md-6">
                <label for="">Select Teacher:</label>
                    <select class="form-control" name="teacherName" id="teacherName" >
                        <option value="">Select an Item</option>
                        <%teachersData.forEach((item) => {%>
                        <% if(item.id==subjectsData.teacherId) { %>
                            <option value="<%=item.id%>" selected><%=item.fullName%></option>
                        <% } else { %>
                            <option value="<%=item.id%>"><%=item.fullName%></option>
                            <% } %>
                        <% }) %>
                </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="subjectTeachingDay">Teaching Day </label>
                    <select name="tDay" id="tDay" class="form-control">
                        <option value="">Select Teaching Day</option>
                        <%weekDays.forEach((item) => { %>
                            <% if(item.toLocaleLowerCase() == subjectsData.subjectTeachingDay) { %>
                            <option value="<%=item.toLocaleLowerCase() %>" selected><%=item%></option>
                            <% } else { %>
                            <option value="<%=item.toLocaleLowerCase() %>"><%=item%></option>
                            <% } %>
                       <%})%>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="stime">Start Time </label>
                    <input type="time" name="sTime" value="<%=subjectsData.startTime%>"  class="form-control">
                </div>

                <div class="form-group col-md-12">
                    <label for="etime">End Time </label>
                    <input type="time" name="eTime" value="<%= subjectsData.endTime%>"  class="form-control">
                </div>

                <div class="form-group col-md-6">
                    <input type="submit" value="Update subject" class="btn btn-primary">
                    <a href="/subjectList" class="btn btn-primary">List subject</a>
                </div>
            </form>
            
        </section>
    
        <% include ../layout/footer %>