<% include ../layout/header %>
<% include ../layout/top-menu %>
<% include ../layout/side-menu %>
<section class="main">
        <% include ../layout/menu %>
        <h4 id="h1Add"> List of Subjects
        <a href="/teacherAdd" class="btn btn-primary" id="btn1">Add Subject</a> </h4>
        <% if(subListData.length > 0) { %>
        <form action="/subjectList" method="GET" id="subjectClear">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Subject Name</th>
                    <th> Teacher Name</th>   
                    <th>Teaching Day</th> 
                    <th>Action</th>
                </tr> 
                <tr>
                    <th>
                        <input type="text" name="subject" class="form-control">
                    </th>
                    <th>
                        <input type="text" name="teacherName" class="form-control">
                    </th>
                    <th>
                        <input type="text" name="teachingDay" class="form-control">
                    </th>
                    <th>
                        <input type="submit" name="submit" value="Search" class="btn btn-success">
                        <input type="button" class="btn btn-success" value="Clear" onclick="clearForm()">
                        <!-- <a href="/subjectList" class="btn btn-info">Clear</a> -->
                    </th>
                </tr>
            </form>
            </thead>

            <tbody>
                <% subListData.forEach((item) => { %>
                <tr>
                    <td><%=item.subjectName%></td>
                    <td><%=item.fullName%></td>
                    <td><%=item.subjectTeachingDay%></td>
                    <td><a href="/getSubjectData/<%= item.id %>">Edit</a>/
                    <a href="/subjectView/<%=item.id%>">View</a>/
                    <a href="/deleteSubject/<%=item.id%>" onclick="return confirm('Are you sure?');">Delete</a></td>
                </tr>
                <% }); %>
            </tbody>
</table>

<nav aria-label="Page navigation example">
        <ul class="pagination"> 
                <% for( let i =1 ; i<= totalPage; i++) {%>
                    <% if (i == 1) { %> 
                        <li class="page-item"> 
                                <a class="page-link" href="/subjectList?page=<%=i%>">First</a>
                        </li>    
                    <% }%>
                    <li class="page-item">
                        <a class="page-link" href="/subjectList?page=<%=i%>"><%=i%></a>
                    </li>

                    <% if (i == totalPage) { %> 
                        <li class="page-item">
                                <a class="page-link" href="/subjectList?page=<%=i%>">Last</a>
                        </li>    
                    <% }%>
                <% }%>
            <div id="div1">
                Total Record: <%=countSubject%>
            </div>    
        </ul>
        </nav>  
    <% } %>
    <% if(subListData.length == 0) { %>
        No record found
    <% } %>    
    
</section>

<script>
    function clearForm(){
        document.getElementById("subjectClear").reset();
    }
</script>


<% include ../layout/footer %>