<% include ../layout/header %>
<% include ../layout/top-menu %>
<% include ../layout/side-menu %>

<section class="main">
    
    <h1>Edit Student Here</h1>
    <% staffEdit.forEach((item) => { %>
    <form action="/updateStaff/<%=item.id%>" method="POST" class="form-row">

        <div class="form-group col-md-4">
            <label for="">Full Name</label>
            <input type="text" name="fname" value="<%=item.fullName%>" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="">Designation</label>
            <input type="text" name="designation" value="<%=item.designation%>" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="">Mobile</label>
            <input type="text" name="mobile" value="<%=item.mobile%>" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="">Address</label>
            <input type="text" name="address" value="<%=item.address%>" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="">Joining Date</label>
            <input type="text" name="jdate" value="<%=item.joiningDate%>" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="">Salary</label>
            <input type="text" name="salary" value="<%=item.salary%>" class="form-control">
        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="Update Record" class="btn btn-primary">
        </div>

    </form>   
    <% }); %>     

</section>
<% include ../layout/footer %>