<% include ../layout/header %>
<% include ../layout/top-menu %>
<% include ../layout/side-menu %>

<section class="main">
        <h4>List of Staff
            <a href="/staffAdd" class="btn btn-primary">Add Staff</a>
        </h4>
        <!-- <a href="/add" class="btn btn-primary">Add Student</a> -->
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th> Designation</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Joining Date</th>
                    <th>Salary</th>
                    <th colspan="3">Action</th>
                </tr>
            </thead>

            <tbody>
                <% staffData.forEach((item) => { %>
                <tr>
                    <!-- This did not come from Parent table, the data came from their respctive table. I dont know if it is right or wrong -->
                    <td><%=item.fullName%></td>
                    <td><%=item.designation%></td>
                    <td><%=item.mobile%></td>
                    <td><%=item.address%></td>
                    <td><%=item.joiningDate%></td>
                    <td><%=item.salary%></td>
                    <td><a href="/editStaff/<%=item.id%>">Edit</a></td>
                    <td><a href="/staffView/<%= item.id %>">View</a></td>
                    <td><a href="/deleteStaff/<%= item.id %>" onclick="return confirm('Are you sure?');">Delete</a></td>
                </tr>
                <% }) %>
            </tbody>
        </div>
        </table>

        <nav aria-label="page navigation example">
            <ul class="pagination">
                <% for(var i=1; i<=totalPages; i++) { %>
                    <% if(i==1) { %>
                        <li class="page-item">
                            <a class="page-link" href="/stafflist?page=<%=i%>">First</a>
                        </li>
                        <% } %>
                        <li class="page-item">
                            <a class="page-link" href="/stafflist?page=<%=i%>"><%=i%></a>
                        </li>
                        <% if(i==totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="/staffList?page=<%=i%>">Last</a>
                        </li>
                        <% } %>
                <% } %>
            </ul>
            <div style="position: unset; margin-top: -43px; margin-right: 4px; color: lightblue;" class="float-right">
                    Total Records: <%=allStaffData%>
            </div>
        </nav>
        

    </section>
    <% include ../layout/footer %>