<% include ../layout/header %>
<% include ../layout/top-menu %>
<% include ../layout/side-menu %>

<section class="main">
    
            <h4>Add Assignment </h4>
            <form action="/addAssignment" method="POST" class="form-row">
                <div class="form-group col-md-4">
                    <label for="sname">Select Student</label>
                    <select name="sname" id="" class="form-control">
                        <option value="defaule">Select Student</option>
                        <% studentResult.forEach((item) => { %>
                        <option value="<%= item.id %>"><%= item.name%></option>
                        <% }) %>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="asSubject">Select Subject of Assignment</label>
                    <select name="asSubject" id="" class="form-control">
                        <option value="defaule">Select Subject</option>
                        <% subjectResult.forEach((item) => { %>
                        <option value="<%= item.id %>"><%= item.subjectName %></option>
                        <% }) %>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="asTeacher">Select Teacher of Assignment</label>
                    <select name="asTeacher" id="" class="form-control">
                        <option value="defaule">Select Teacher</option>
                        <% teacherResult.forEach((item) => { %>
                        <option value="<%= item.id %>"><%= item.fullName %></option>
                        <% }) %>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="completed">Number of completed assignments</label>
                    <input type="number" name="completed" id="" class="form-control">
                </div>

                <div class="form-group col-md-4">
                    <label for="incomplete">Number of Incomplete assignments</label>
                    <input type="number" name="incomplete" id="" class="form-control">
                </div>

                <div class="form-group col-md-4">
                    <label for="notes">Notes: </label>
                    <textarea name="notes" id="notes" cols="43" rows="5"></textarea>
                </div>
    
                <div class="form-group">
                    <input type="submit" value="Add Assignment" class="btn btn-primary">
                    <a href="/assignmentList" class="btn btn-primary">List Assignment</a>
                </div>
            </form>

        </section>
    <% include ../layout/footer %>