
<% include ../layout/header %>
<% include ../layout/top-menu %>
<% include ../layout/side-menu %>
        <section class="main">
        <h4>View Assignment
           <span style="float: right;"><a href="/assignmentList" class="btn btn-primary">List Assignment</a></span>
        </h4>
        <table class="table table-striped table-bordered">
            <thead>
                    <% viewAssignmentData.forEach((item) => { %>
                <tbody>
                <tr>
                    <tr><th>Student</th> <td><%=item.name%></td></tr>
                    <tr><th>Subject</th> <td><%=item.subjectName%></td></tr>
                    <tr><th>Teacher</th> <td><%=item.fullName%></td></tr>
                    <tr><th>Completed</th> <td><%=item.completed%></td></tr>
                    <tr><th>Incomplete</th> <td><%=item.incomplete%></td></tr>
                    <tr><th>Notes</th> <td><%=item.notes%></td></tr>
                    <% }) %>
                </tr>
                </tbody>
            </thead>
    </table>
</section>

<% include ../layout/footer %>